{% extends "base.html" %}
{% block title %}Verify Signature{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/verify_signature.css') }}">
<div class="container">
    <div class="row">
        <div class="col">

            <h1>Verifique a autenticidade de uma assinatura</h1>
            <h1>{{ probability }}</h1>
            <hr>
            <form action="/verify-signature" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <div class="custom-input">
                        <label>Digite o CPF da pessoa</label>
                        <input type="number" name="cpf" id="cpf" class="form-control" placeholder="Digite o CPF"
                               maxlength="11">
                        <small id="cpfHelp" class="form-text text-muted">Digite apenas números</small>
                    </div>
                </div>
                <br>

                <label>Selecione a assinatura que deseja verificar</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="signature" id="signature">
                    <!--            <label class="custom-file-label" for="original_signatures">Select image...</label>-->
                </div>
                <br>

                <button type="submit" class="btn btn-primary">Verificar</button>

                <br>
                {% if label == 'Verdadeiro' %}
                <label>Predição: </label><label class="true_label">{{ string }}</label>
                {% elif label == 'Falso' %}
                <label>Predição: </label><label class="false_label">{{ string }}</label>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}